<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#fff" />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-125551451-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-125551451-1");
    </script>

    <meta property="og:title" content="Vega" />
    <meta
      property="og:description"
      content='Vega Squadron is professional gaming team with headquarters in Russia, created in June, 2012 from the former Evolution Gaming by Alexey "Vega" Kondakov.'
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://token.vega-squadron.com/" />
    <meta property="og:image" content="https://gol.gg/_img/teams_icon/vega-squadron-2017.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css"
    />

    <title>Vega</title>
  </head>
  <body>
    <%= require('./_sidebar.html') %> <%= require('./_nav-sidebar.html') %>

    <div class="wrapper" id="main">
      <%= require('./platform.html') %> <%= require('./_footer.html') %>
    </div>

    <script>
      let mainNavLinks = document.querySelectorAll("aside nav a");
      let mainSections = document.querySelectorAll("div.wrapper section");

      let lastId;
      let cur = [];

      window.addEventListener("scroll", event => {
        let fromTop = window.scrollY;
        mainNavLinks.forEach(link => {
          let section = document.querySelector(link.hash);

          if (
            section.offsetTop <= fromTop &&
            section.offsetTop + section.offsetHeight > fromTop
          ) {
            link.classList.add("active");
          } else {
            link.classList.remove("active");
          }
        });
      });
    </script>
  </body>
</html>
